.nextButton, .goButton, .revealButton, .returnButton {
background-color: palevioletred;
} 

.profilePic {
    width: 205px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    
}

.container  {

    height: 100vh;

}

.column {
        height: 50vh;
    }

    .text-center {

        font-family: 'monospace';
        /* font-size: 35px; */
    }